@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  
  --intive-gray: #333333;
  --intive-black: #0f0f0f;
  --intive-blue: #007fd1;
  --intive-green: #00D68F;
  --stadium-blue: #007fd1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-intive-gray: var(--intive-gray);
  --color-intive-black: var(--intive-black);
  --color-intive-blue: var(--intive-blue);
  --color-intive-green: var(--intive-green);
  --color-stadium-blue: var(--stadium-blue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

@keyframes pulse-glow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}
